# Distribution / packaging
.Python
tests/__pycache__
tests/unit/__pycache__
test/integration/__pycache__
env/
build/
develop-eggs/
dist/
downloads/
node_modules
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
